<div class="container">
	<div class="row">
		<div class="col-md-12">
			<% if (isAdmin == false && errMsg != ""){ %>
			<h4 style="color: brown"> <%= errMsg %> </h4>
			<%}else{%> 
			<h4>User Admin</h4>
			<div class="table-responsive">
				<table id="mytable" class="table table-bordred table-striped">
					<thead>
						<th>Id</th>
						<th>User Name</th>
						<th>last Name</th>
						<th>email</th>
						<th>isAdmin</th>
						<th>Edit</th>
						<th>Delete</th>
					</thead>
					<tbody>
						<% users.forEach(function (user){ %> 
							<tr id= "userItem-<%= user.id %>">
								<td> <%= user.id%> </td>
								<td> <%= user.firstName %> </td>
								<td> <%= user.lastName %> </td>
								<td> <%= user.email %> </td>
								<td  id= "<%=user.id%>"  type="text"  > <%= user.isAdmin %> </td>
								<td><p data-placement="top" data-toggle="tooltip" title="Edit"> <a href= "userAdminEdit/<%= user.id%>"> <button  class="btn btn-primary btn-xs" data-title="Edit" data-toggle="modal" data-target="#edit" ><span class="glyphicon glyphicon-pencil"></span></button></a></p></td>
								<td><p data-placement="top" data-toggle="tooltip" title="Delete"><button onclick="deleteUserAdmin(<%= user.id%>);" class="btn btn-danger btn-xs" data-title="Delete" data-toggle="modal" data-target="#delete" ><span class="glyphicon glyphicon-trash"></span></button></p></td>
							</tr>
						<% }); %>		
					</tbody>
				</table>
			</div>
			<%};%>    
		</div>    
	</div>             
</div>
<script type="text/javascript" src="/js/user-admin-main.js"> </script>
    
        
       